.button {
  .normalize-link();
  display: block;
  font-family: inherit;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  background-color: @color-accent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 13px 20px 11px 20px;

  &--reset {
    color: @color-accent;
    background-color: #ffffff;
  }

  &:hover,
  &:focus {
    background-color: #9070ec;
    color: #ffffff;
    outline: none;
  }

  &:active {
    background-color: #593cac;
    color: #ffffff;
  }

  &:disabled {
    background-color: @color-grey;
    color: #ffffff;
  }

  &--reset:disabled {
    background-color: #e2e2e2;
    color: #ffffff;
  }
}
