.control {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px;

  &--disabled {
    color: @color-grey;
  }

  &:hover .control__mark,
  &:focus .control__mark {
    border-color: #9070ec;
  }
}

.control__mark {
  position: relative;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border: 2px solid @color-grey;
  border-radius: 50%;

  &:hover,
  &:focus {
    border-color: #9070ec;
  }
}

.control__input[type="checkbox"] + .control__mark {
  display: block;
  position: relative;
  width: 42px;
  height: 24px;
  border: 2px solid @color-grey;
  border-radius: 12px;
  background: @color-grey;
  cursor: pointer;
  transition: background 0.1s ease-in-out;
}

.control__input[type="checkbox"]:hover + .control__mark,
.control__input[type="checkbox"]:focus + .control__mark {
  border: 2px solid #9070ec;
  background: rgba(120, 89, 207, 0.25);
}

.control__input[type="checkbox"]:disabled + .control__mark {
  border: 2px solid #e2e2e2;
  background: #e2e2e2;
}

.control__input[type="checkbox"] + .control__mark::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: all 0.2s ease-in-out;
}

.control__input[type="checkbox"]:checked + .control__mark {
  background: @color-accent;
  border-color: @color-accent;
}

.control__input[type="checkbox"]:checked:hover + .control__mark,
.control__input[type="checkbox"]:checked:focus + .control__mark {
  border: 2px solid #9070ec;
  background: rgba(120, 89, 207, 0.25);
}

.control__input[type="checkbox"]:checked:disabled + .control__mark {
  border: 2px solid #e2e2e2;
  background: #e2e2e2;
}

.control__input[type="checkbox"]:checked + .control__mark::before {
  left: 18px;
}

.control__input[type="checkbox"]:checked:disabled + .control__mark::before {
  background-color: @color-grey;
}

.control__input[type="radio"]:checked + .control__mark {
  border-color: @color-accent;
}

.control__input[type="radio"]:checked:hover + .control__mark,
.control__input[type="radio"]:checked:focus + .control__mark {
  border-color: #9070ec;
}

.control__input[type="radio"]:disabled + .control__mark {
  border-color: #e2e2e2;
}

.control__input[type="radio"]:checked + .control__mark::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  background-color: @color-accent;
  border-radius: 50%;
}

.control__input[type="radio"]:checked:hover + .control__mark::before,
.control__input[type="radio"]:checked:focus + .control__mark::before {
  background-color: rgba(120, 89, 207, 0.25);
}

.control__input[type="radio"]:checked:disabled + .control__mark::before {
  background-color: #e2e2e2;
}

.control__label {
  display: block;
  box-sizing: content-box;
  padding-left: 13px;

  @media (min-width: @tablet-width) {
    max-width: fit-content;
    padding-left: 10px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 10px;
    padding-top: 2px;
  }
}

.control:focus-within .control__mark {
  outline: none;
}
