.main-footer__wrapper {
  padding: 20px 0 20px 0;

  @media (min-width: @tablet-width) {
    padding: 40px 0 40px 0;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 0 40px 0;
  }
}

.main-footer__link {
  .normalize-link();
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: #9070ec;
    outline: none;
  }

  &:active {
    color: #593cac;
  }
}

.main-footer .container {
  padding: 0;

  @media (min-width: @tablet-width) {
    padding-right: 20px;
    padding-left: 20px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 0;
    padding-left: 0;
  }
}

.main-footer__logo {
  padding-top: 2px;

  @media (min-width: @desktop-width) {
    margin-bottom: 50px;
    padding-top: 0;
  }
}

.main-footer__logo-description {
  @media (max-width: 1439px) {
    .visually-hidden();
  }

  @media (min-width: @desktop-width) {
    display: block;
    padding-top: 4px;
  }
}

.main-footer__container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 16px 20px;
  border-bottom: 1px solid #f0ebff;

  @media (min-width: @tablet-width) {
    border: none;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.main-footer__shop {
  padding: 22px 20px 24px 20px;
  border-bottom: 1px solid #f0ebff;

  @media (min-width: @tablet-width) {
    border: none;
    padding: 0;
  }
}

.main-footer__media {
  padding: 22px 20px 24px 20px;
  border-bottom: 1px solid #f0ebff;

  @media (min-width: @tablet-width) {
    border: none;
    padding: 0;
  }
}

.main-footer__contacts {
  padding: 24px 20px 21px 20px;
  border-bottom: 1px solid #f0ebff;

  @media (min-width: @tablet-width) {
    border: none;
    padding: 0;
  }
}

.main-footer__title {
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: @color-accent;
  margin: 0;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    padding-bottom: 18px;
  }
}

.main-footer__list {
  .normalize-list();
}

.main-footer__item {
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }

  &--address {
    background-image: url("../../img/icons/sprite.svg#address");
    background-repeat: no-repeat;
    background-size: 13px 16px;
    background-position: left 2px;
    margin-bottom: 16px;
    padding-top: 3px;
    padding-left: 20px;

    @media (min-width: @tablet-width) {
      background-position: left 6px;
    }

    @media (min-width: @desktop-width) {
      background-position: left 8px;
    }
  }

  &--phone {
    background-image: url("../../img/icons/sprite.svg#phone");
    background-repeat: no-repeat;
    background-size: 13px 16px;
    background-position: left 2px;
    padding-left: 20px;
  }
}

.main-footer__address {
  margin: 0;

  @media (min-width: @tablet-width) {
    max-width: 200px;
  }

  @media (min-width: @desktop-width) {
    max-width: 317px;
    padding-top: 4px;
  }
}

.main-footer__phone {
  .normalize-link();
}

.main-footer__container-menu {
  @media (min-width: @tablet-width) {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 34px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(3, 317px);
    padding-top: 12px;
    padding-bottom: 25px;
  }
}

.main-footer__copyright {
  @media (min-width: @desktop-width) {
    width: 100%;
  }
}
